

<div class= "container">
  <div class="page-wrapper">
    <%= link_to "Retour à la liste", posts_path%>
    <div class="post-details">
      <div class= post-view>
        <div class="post-title"><%=@post.title%></div>
        par <strong> <%=@post.user.nickname%> </strong> le <%=@post.created_at.strftime("%d.%m.%y")%>
        <%=link_to "Article Source", @post.url%>
        <div class="post-content">
          <%=@post.content%>
        </div>
        <div class="comment-section">
          <%=@post.comments.count%> Commentaires :
          <%@post.comments.each do |comment|%>
            <div class="comment-preview">
              <%=comment.user.nickname%> le <%=comment.created_at.strftime("%d.%m.%y")%>
              <%=comment.content%>
            </div>
          <%end%>
        </div>
        <div class= "new-comment">
          <%= simple_form_for [@post, @comment] do |f| %>
            <%= f.input :content, as: :text, label: "Ajouter votre Grain de Sel" %>
            <%= f.submit "Commenter", class: "btn btn-ghost" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
