<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<div class= "container">
  <%=@post.title%>
  par <%=@post.user.nickname%> le <%=@post.created_at.strftime("%d.%m.%y")%>
  <%=@post.content%>
  <%=link_to "Commenter", comments_new_path%>
  <%=@post.comments.each do |comment|%>
    <%= link_to comments_show(comment) do%>
      <%=comment.user.nickname%> le <%=comment.created_at.strftime("%d.%m.%y")%>
      <%=comment.content%>
    <% end %>
  <%end%>

</div>
